<?xml version="1.0"?>
<launch>
  <include file="$(find husky_description)/launch/description.launch">
  </include>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_description)/etc/view_robot.rviz" required="true" />
</launch>
