[submodule "catkin_ws/src/catkin_ws/src/ouster-ros"]
	path = catkin_ws/src/catkin_ws/src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
[submodule "FAST_LIO"]
	path = FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
