<launch>
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find husky_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find husky_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find husky_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find husky_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find husky_navigation)/config/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="plan_cmd_vel" />
  </node>

</launch>
