<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="novatel_gps_sensor" params="name gps_topic velocity_topic lat lon">
    <joint name="gps_joint" type="fixed">
      <origin xyz="0.39 0.385 0.10" rpy="-1.5705 -1.5705 0" />
      <parent link="base_footprint_user_plate_part" />
      <child link="gps_link"/>
    </joint> 
    <link name="gps_link">
    <inertial>
      <mass value="0.01" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001"  ixy="0.0"  ixz="0.0"
      iyy="0.001"  iyz="0.0"
      izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.1" rpy="1.5705 0 -1.5705"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
    </link>
  </xacro:macro>
</robot>
