<?xml version="1.0"?>
  <robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find husky_description)/urdf/sensors/sick_laser.gazebo.xacro" />
  <xacro:macro name="sick_laser_v0" params="name parent ros_topic update_rate min_angle max_angle l_x l_y l_z l_r l_p l_yaw">
    <!-- This adds a visual box to allow us to see the Hokuyo in rviz/gazebo -->
    <joint name="laser_scan_joint" type="fixed">
      <origin xyz="${l_x} ${l_y} ${l_z}" rpy="${l_r} ${l_p} ${l_yaw}" />
      <parent link="${parent}_link" />
      <child link="${name}_link"/>
    </joint>
    <link name="${name}_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.001"  ixy="0.0"  ixz="0.0"
        iyy="0.001"  iyz="0.0"
            izz="0.001" />
      </inertial>
      <visual>
          <origin xyz="0 0 0.1" rpy="1.5705 0 -1.5705"/>
          <geometry>
              <mesh filename="package://husky_description/meshes/lidar.stl" />
          </geometry>
      </visual>
      <collision>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <geometry>
            <mesh filename="package://husky_description/meshes/lidar.stl" />
          </geometry>
      </collision>
    </link>
    <!-- gazebo extensions -->
    <xacro:sick_laser_gazebo_v0 name="${name}" ros_topic="${ros_topic}" update_rate="${update_rate}" min_angle="${min_angle}" max_angle="${max_angle}" />
    </xacro:macro>
</robot>
