<?xml version="1.0"?>
<launch>
  <arg name="laser_3d_enabled" default="$(optenv HUSKY_LASER_3D_ENABLED false)" />
  <group if="$(arg laser_3d_enabled)">
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
      <arg name="device_ip" value="$(optenv HUSKY_LASER_3D_HOST 192.168.131.20)" />
      <remap from="velodyne_points" to="$(optenv HUSKY_LASER_3D_TOPIC points)" />
    </include>
  </group>
</launch>
