<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      ur5.launch
\authors   Devon Ash <dash@clearpathrobotics.com>
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="ur5_enabled" default="$(optenv HUSKY_UR5_ENABLED false)" />
  <group if="$(arg ur5_enabled)">
    <!-- Launches the drivers and sets parameters for the ur5 arm -->
    <!-- Mostly taken from the ur_common.launch inside ur_common.launch -->

    <arg name="robot_ip" default="$(env HUSKY_UR5_IP)"/>
    <arg name="reverse_port" default="50001"/>
    <arg name="min_payload" default="0.0"/>
    <arg name="max_payload" default="10.0"/>
    <arg name="prefix" default="ur5_arm_"/>

    <!-- The max_velocity parameter is only used for debugging in the ur_driver. It's not related to actual velocity limits -->
    <arg name="max_velocity" default="10.0"/> <!-- [rad/s] -->

    <!-- copy the specified IP address to be consistant with ROS-Industrial spec.
    NOTE: The ip address is actually passed to the driver on the command line -->
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="robot_reverse_port" type="int" value="$(arg reverse_port)"/>

    <!-- driver -->
    <node name="ur_driver" pkg="ur_modern_driver" type="ur_driver" args="$(arg robot_ip) $(arg reverse_port)" output="screen">
      <param name="min_payload" type="double" value="$(arg min_payload)"/>
      <param name="max_payload" type="double" value="$(arg max_payload)"/>
      <param name="max_velocity" type="double" value="$(arg max_velocity)"/>
      <param name="prefix" type="string" value="$(arg prefix)"/>
    </node>

    <!-- TF Buffer Server -->
    <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server">
      <param name="buffer_size" value="120.0"/>
    </node>

    <!-- Stow the arm -->
    <node pkg="husky_control" type="stow_ur5" name="stow_ur5"/>
  </group>
</launch>
