<launch>
  <!-- App manager for Android devices -->
  <param name="robot/name" value="husky"/>
  <param name="robot/type" value="husky"/>
  <node pkg="app_manager" type="appmaster" name="appmaster" args="-p 11312"/>

  <node pkg="app_manager" type="app_manager" name="app_manager" args="--applist $(find husky_bringup)/apps" output="screen">
        <param name="interface_master" value="http://localhost:11312"/>
  </node>
</launch>
