<launch>
   <!-- Provide interactive markers capability --> 
    <node pkg="husky_interactive_markers" name="interactive_markers" type="husky_marker_server">
        <remap from="cmd_vel" to="husky/cmd_vel"/>
    </node>

    <!-- Publish diagnostics information -->
    <node pkg="husky_bringup" name="diagnostics" type="diagnostics.py"/>

    <!-- Subscribe to encoders and optionally IMU -->
    <node pkg="husky_bringup" name="dead_reckoning" type="dead_reckoning.py">
        <param name="gyro_scale_correction" value="1.0" />
    </node>
</launch>
