<?xml version="1.0"?>
<launch>

  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find husky_description)/launch/description.launch">
  </include>

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_viz)/rviz/model.rviz" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
