<launch>

  <arg name="robot_name" default="default" />

  <group ns="clearpath">

    <group ns="robots/$(arg robot_name)">  

      <!-- HUSKY -->
      <include file="$(find husky_bringup)/minimal.launch" />

      <!-- KINECT -->
      <arg name="debug" default="false"/>
      <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
      <arg unless="$(arg debug)" name="launch_prefix" value=""/>
      <node pkg="openni_camera" type="openni_node" name="openni_node1" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="device_id" value="#1"/>
        <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
        <param name="rgb_frame_id" value="/openni_rgb_optical_frame" />
        <param name="depth_frame_id" value="/openni_depth_optical_frame" />
        <param name="use_indices" value="false" />
        <param name="depth_registration" value="true" />
        <param name="image_mode" value="2" />
        <param name="depth_mode" value="2" />
        <param name="debayering" value="2" />
        <param name="depth_time_offset" value="0" />
        <param name="image_time_offset" value="0" />
      </node>
      <include file="$(find openni_camera)/launch/kinect_frames.launch"/>

      <!-- SKIM CLOUD -->
      <node pkg="clearpath_tools" type="SkimImage" name="skim1" >
        <param name="in"                        value="camera/rgb/points" />
        <param name="out"                       value="camera/points/skim" />
        <param name="skim_factor"               value="2" />
      </node>

      <!-- PASSTHROUGH -->
      <node pkg="clearpath_tools" type="Passthrough" name="passthrough1" >
        <param name="in"                        value="camera/points/skim" />
        <param name="out"                       value="camera/points/passthrough" />
        <param name="dist"                      value="4.0" />
      </node>

      <!-- TRACKING DEMO -->
      <node pkg="clearpath_kinect_demo" type="ClearpathDemoTrack" name="ClearpathDemoTrack1" output="screen">
        <param name="in"                        value="camera/points/passthrough" />
        <param name="out"                       value="camera/points/visualization" />
        <param name="out_vel"                   value="cmd_vel" />
        <param name="angular_vel_correction"    value="2" />
        <param name="lin_speed"                 value="0.3" />
        <param name="ang_speed"                 value="0.2" />
        <param name="cam_height"                value="0.55" />
        <param name="cam_z_trans"               value="0.35" />
        <param name="window_size"               value="0.5" />
        <param name="publish_visualization"     value="1" />
      </node>

    </group> <!-- end of robot group -->

  </group> <!-- end of clearpath group -->

</launch>
