<launch>
  <arg name="port" default="/dev/clearpath" />
  <node pkg="clearpath_base" type="kinematic.py" name="clearpath_base" ns="husky">
    <param name="port" value="$(arg port)" />
    <param name="cmd_fill" value="True" />

    <param name="data/system_status" value="10" />
    <param name="data/safety_status" value="10" />
    <param name="data/encoders" value="10" />
    <param name="data/differential_speed" value="10" />
    <param name="data/differential_output" value="10" />
    <param name="data/power_status" value="1" />
  </node>
</launch>
