<?xml version="1.0"?>
<launch>
<!-- imu -->
  <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="microstrain_imu">
    <param name="time_offset" value="-0.040" />
    <param name="port" value="/dev/microstrain" />
    <param name="frame_id" type="string" value="imu_link" />
    <param name="autocalibrate" value="true" />
    <param name="angular_velocity_stdev" value="0.00017" />
    <param name="max_drift_rate" value="0.001" />
  </node>

</launch>
