<?xml version="1.0"?>
<launch>

  <arg name="joy_dev" default="$(optenv HUSKY_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" />

  <group ns="joy_teleop">

    <group unless="$(optenv HUSKY_LOGITECH 0)" >
      <rosparam command="load" file="$(find husky_control)/config/teleop_ps4.yaml" />
    </group>

    <group if="$(optenv HUSKY_LOGITECH 0)" >
      <rosparam command="load" file="$(find husky_control)/config/teleop.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>

    <node pkg="joy" type="joy_node" name="joy_node" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  </group>

</launch>
