<launch>
  <!-- IMU -->
  <node pkg="imu_um6" type="imu_um6_node.py" name="imu_um6_node" output="screen" respawn="true">
      <param name="port" type="string" value="/dev/imu"/>
  </node>

  <!-- Kinect -->
  <node pkg="nodelet" type="nodelet" name="openni_camera" args="load openni_camera/OpenNINodelet kinect_manager" respawn="true">
    <param name="rgb_frame_id" value="camera_rgb_optical_frame" />
    <param name="depth_frame_id" value="camera_depth_optical_frame" />
    <param name="depth_registration" value="true" />
    <param name="image_mode" value="2" />
    <param name="depth_mode" value="2" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="-0.055" />
    <param name="image_time_offset" value="0" />

    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
  </node>

</launch>
