<?xml version="1.0"?>
<launch>

  <arg name="ur5_enabled" default="false"/>

  <!-- If we're using the ur5 arm -->
  <group if="$(arg ur5_enabled)">
       <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/> -->

       <!-- Load UR5 controllers -->
       <rosparam command="load" file="$(find husky_control)/config/control_with_ur5_arm.yaml" />
       <node name="controller_spawner" pkg="controller_manager" type="spawner" args="husky_joint_publisher husky_velocity_controller  arm_controller"/>

       <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

       <!-- Diagnostics -->
       <node pkg="pr2_mechanism_diagnostics" type="pr2_mechanism_diagnostics" name="pr2_mechanism_diagnostics" />
  </group>

  <!-- If not using UR5 arm -->
  <group unless="$(arg ur5_enabled)">
        <rosparam command="load" file="$(find husky_control)/config/control.yaml" />
       <node name="controller_spawner" pkg="controller_manager" type="spawner" args="husky_joint_publisher husky_velocity_controller"/>
  </group>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
    <rosparam command="load" file="$(find husky_control)/config/localization.yaml" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
  </node>

</launch>

