
<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="/cmd_vel" to="/husky/cmd_vel" />
    <rosparam file="params_costmap2d.yaml" command="load" ns="global_costmap" />
    <rosparam file="params_costmap2d.yaml" command="load" ns="local_costmap" />
    <rosparam file="local_costmap_params.yaml" command="load" />
    <rosparam file="global_costmap_params.yaml" command="load" />
    <rosparam file="local_costmap_params.yaml" command="load" />
  </node>
</launch>

