<?xml version="1.0"?>
<launch>
  <arg name="lms1xx_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)" />
  <arg name="lms1xx_secondary_enabled" default="$(optenv HUSKY_LMS1XX_SECONDARY_ENABLED false)" />
  <group if="$(arg lms1xx_enabled)">
    <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
      <param name="host" value="$(env HUSKY_LMS1XX_IP)" />
      <param name="frame_id" value="base_laser" />
    </node>
  </group>
  <group if="$(arg lms1xx_secondary_enabled)">
    <node pkg="lms1xx" name="lms1xx_secondary" type="LMS1xx_node">
      <param name="host" value="$(env HUSKY_LMS1XX_SECONDARY_IP)" />
      <param name="frame_id" value="rear_laser" />
    </node>
  </group>
</launch>
