<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find husky_navigation)/maps/willow-2010-02-18-0.10.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find husky_navigation)/config/amcl_husky.launch">
    <arg name="scan_topic" value=scan_filtered" />
  </include>

  <!--- Run Move Base -->
  <include file="$(find husky_navigation)/laser/move_base_husky_laser.launch" />

</launch>
