<launch>

  <!--- Run gmapping -->
  <include file="$(find husky_navigation)/config/gmapping_husky.launch" />
    <arg name="scan_topic" value=scan_filtered" />
  </include>

  <!--- Run Move Base and Robot Pose EKF -->
  <include file="$(find husky_navigation)/laser/move_base_husky_laser.launch" />

</launch>
